<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar00.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Lucia Coronel</a></h1>
            <p>PostDoctoral Researcher<br />
                and <a href="{{ site.baseurl }}/blog"> other stuff</a> </p>
        </header>
        <nav id="nav">
            <ul>
             <!-- <li><a href="{{ site.baseurl }}/">Home</a></li> -->
                <li><a href="{{ site.baseurl }}/background">Background</a></li>
                <li><a href="{{ site.baseurl }}/research">Research</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/gallery/index.html">Gallery</a></li>
                <!-- <li><a href="{{ site.baseurl }}/blog">Misc</a></li> -->
                
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-brands fa-google"><span class="label">Google Scholar</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
        </footer>
    </section>

