<header class="site-header">
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/background/' | relative_url }}">Background</a>
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/blog/' | relative_url }}">Gating I Blog</a>
    <a href="{{ '/gallery/' | relative_url }}">Gallery</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
    <a href="{{ '/bkchannel/' | relative_url }}">Lipid-mediated hydrophobic gating</a>
    
  </nav>
</header>
