---
layout: default
title: "Gating I Blog"
tags: [research, biophysics, biopolymers, moleculardynamics, MD, MC, inhibitor, bk channel]
---


<div class="post-list">
  {% for post in site.posts %}
    <div class="post-card">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
      {% if post.description %}
        <p class="post-description">{{ post.description }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
